.image:hover {
    transform: scale(1.07);
}

.image2:hover {
    transform: scale(1.07);
}

.container {
    cursor: zoom-in;
    position: relative;
    width: 20%;
    margin-left: 25%;
    margin-top: 3%;
}
  
.image {
    display: block;
    width: 100%;
    height: auto;
    border: 1px solid #ddd;
    border-radius: 3px;
    padding: 5px;
    margin-left: 20%;
    margin-top: 8%;
    box-shadow: 10px 10px 8px 10px #888888;
}  

.container2 {
    cursor: zoom-in;
    position: relative;
    width: 20%;
    margin-left: 15%;
    margin-top: 3%;
}
  
.image2 {
    display: flex;
    width: 100%;
    height: auto;
    border: 1px solid #ddd;
    border-radius: 3px;
    padding: 5px;
    margin-left: 10%;
    margin-top: 8%;
    box-shadow: 10px 10px 8px 10px #888888;
}

.cv {
    display: flex;
}

.CV-title h1 {
    text-align: center;
    padding-left: 15%;
}

.CV-title h3 {
    text-align: center;
    margin-top: 3%;
    padding-left: 15%;
}

.cv-link a{
    text-decoration: none;
    color: black;
}

.cv-link a:after{
    content: '';
    position: absolute;
    width: 0; height: 3px;
    display: block;
    margin-top: 5px;
    right: 0;
    background: #fff;
    transition: width .2s ease;
    -webkit-transition: width .2s ease;
}

.CV-title button {
    margin-top: 3%;
    margin-left: 12%;
    background-color: white;
    border: none;
    color: black;
    padding: 16px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    transition-duration: 0.4s;
    cursor: pointer;
    border: 2px solid #555555;
}

.CV-title button:hover {
    background-color: #555555;
    color: white;
}

.aboutme-title {
    background-color: #FDFD96;
    padding: 5px;
}

@media only screen 
  and (min-device-width: 768px) 
  and (max-device-width: 1024px) 
  and (-webkit-min-device-pixel-ratio: 1) {
    
    .CV-title h1 {
        font-size: 25px;
        margin-top: 6%;
    }

    .CV-title button {
        margin-top: 3%;
        padding: 10px 36px;
        font-size: 14px;
        margin-top: 12%;
    }
}

@media only screen 
  and (min-device-width: 320px) 
  and (max-device-width: 480px)
  and (-webkit-min-device-pixel-ratio: 2) {

    .CV-title h1 {
        font-size: 25px;
        margin-bottom: 10%;
        margin-top: 10%;
    }

    .CV-title button {
        margin-top: 3%;
        padding: 10px 26px;
        font-size: 14px;
        margin-top: 17%;
    }
}

@media only screen 
  and (min-device-width: 320px) 
  and (max-device-width: 376px)
  and (-webkit-min-device-pixel-ratio: 2) {

    .CV-title h1 {
        font-size: 20px;
        margin-bottom: 11%;
        margin-top: 10%;
    }

    .CV-title button {
        margin-top: 3%;
        padding: 6px 21px;
        font-size: 12px;
        margin-top: 17%;
    }
}